 /* http://www.html-color-names.com/darkslateblue.php */
 /* debuggo */
 /* * {
     border: solid 1px red;
 } */

 html {
     scroll-behavior: smooth;
 }

 body {
     background-color: #483d8b;
     color: #cdcadf;
     font-family: 'Helvetica Neue', sans-serif;

 }

 p {
     margin: auto;
     padding: 0.4em 0;
     height: fit-content;
     width: fit-content;
     font-size: 1em;
     text-align: center;
 }

 .bigger {
     color: #eeedf4;
     margin-bottom: 0;
     font-size: 2em;
     font-weight: bold;
 }

 .smol {
     color: #6960a0;
 }

 .hello {
     margin: 0.5em auto;
     padding: 5vw;
     height: 100%;
     width: 75%;
     text-align: center;
     font-size: 2em;
 }

 .line-through {
     text-decoration: line-through;
 }

 .lighter {
     color: #9b95bf;
 }

 a.click,
 button,
 input {
     margin: 0 auto;
     padding: 2vw 5vw;
     height: fit-content;
     width: fit-content;
     display: block;
     font-size: 0.7em;
     background-color: #2d2658;
     color: #cdcadf;
     border: none;
     border-radius: 10vw;
     position: relative;
     -webkit-transition-duration: 0.4s;
     transition-duration: 0.4s;

 }

 button:hover,
 a.click:hover {
     cursor: pointer;
     background-color: #9b95bf;
     color: #27214b;
 }

 button:disabled {
     background-color: grey;
     color: darkgray;
 }

 #graphMe {
     margin: auto;
     padding: 3em;
 }

 /* #myChart {
     margin: auto;
     padding: 1em;
 } */

 footer {
     width: 100%;
     left: 0;
     bottom: 5px;
     text-align: center;
     color: #7971aa;
     /* position: fixed; */
 }

 :any-link {
     text-decoration: none;
     color: inherit;
 }